* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* display flex */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rebeccapurple;
  width: 20rem;
  height: 20rem;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

/* transform: scale */
.hover {
  color: royalblue;
  transform: scale(2);
}
